<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Egresos de Vehiculos</title>
</head>
<body>
     <table>

        <tr>
            <th>ID</th>
            <th>Número</th>
            <th>Estado</th>
        </tr>

        {% for espacio in espacios %}

        <tr>

            <td>{{ espacio.id }}</td>

            <td>{{ espacio.numero }}</td>

            <td>
                Disponible
            </td>

        </tr>

        {% endfor %}

    </table>
</body>
</html>